<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/calc-ideal-weight-styles.css' %}">
</head>
<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'admin_include.html' %}
		<div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: white;"></i></a>
				<h1 class="text-center" style="color: white;">
					<span property="schema:name">Calculadora del peso ideal en el embarazo</span>
				</h1>
				<div id="crmCalculadoraPeso" style="height: auto; box-sizing: border-box;">
					<div class="row container" style="margin:0;">
						<div class="col6 bascula" style="width: 48%;">
							<div class="crmPesoImageContainer">
								<span id="crmMiPeso">0</span>
								<span class="crmKGLeyend">kg</span>
								<img src="{% static 'img/pesoimg.png' %}">
							</div>
							<div class="crmResultContainer">
								<img class="crmBoxDecor" src="./img/boxdecor-blue.png">
								<div id="crmResult">
									Peso Ganado:
									<b>
										<span id="crmPesoGanado"></span> kg
									</b>
									<br>
									Tu peso adecuado para la 
									<b>semana 
										<span id="crmWeek"></span>
									</b> 
									de embarazo 
									<b>
										<span id="crmPesoAdecuado"></span> kg
									</b>
								</div>
							</div>
							<div class="crmError">
								<p>Debes introducir un valor correcto</p>
								<p>Peso mínimo 35kg | Peso Máximo 200kg</p>
							</div>
						</div>
						<div class="col6 crmFormContent" style="width: 48%;">
							<p class="crmCalcText">Peso previo al embarazo (kg)</p>
							<input type="number" id="crmPesoPrevio" class="crmInput" min="35" max="200">
							<p class="crmCalcText">Peso actual (kg)</p>
							<input type="number" id="crmPesoActual" class="crmInput" min="35" max="200">
							<p class="crmCalcText">Semana del embarazo</p>
							<select id="crmSemana" name="crmSemana" class="crmSelect">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
								<option value="32">32</option>
								<option value="33">33</option>
								<option value="34">34</option>
								<option value="35">35</option>
								<option value="36">36</option>
								<option value="37">37</option>
								<option value="38">38</option>
								<option value="39">39</option>
								<option value="40">40 +</option>
							</select>
							<p style="margin:0;"><a id="crmSendButton" href="#">Calcular</a></p>
						</div>
					</div>
				</div>
				<script src="{% static 'js/calc-iw.js' %}"></script>
			</div>
		</div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>
