{% include 'include.html' %}
{% include 'navbar.html' %}
<h1 class="text-center" style="color: black;"><span property="schema:name">Sistema de Gestión de un Hogar Materno</span></h1>
<p class="text-center">Este sitio web le permite gestior un hogar materno, ver informes y el historial médico de las embarazadas, etc.<a data-bs-hover-animate="flash" href="{% url 'aboutpage' %}"> Para mas detalles...</a></p>
{% block body %}
{% load static %}
<div class="general-area-home" style="background-image: url(&quot;{% static 'img/bg_home.jpg' %}&quot;);">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<p class="text-center">{%include 'footer.html' %}</p>
{% endblock %}
