<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">    
    </div>        
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        <form class="custom-form" method="post" style="margin-top: 0px;background-color: rgba(0,0,0,0.05);">
                            {% csrf_token %}
                            {% for p in allpatients %}
                            <h1 style="color: rgb(255,255,255);">Modificar datos del la embarazada</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Nombre(s) </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" value="{{p.first_name}}" name="first_name" required>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Apellidos </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" value="{{p.last_name}}" name="last_name">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Carnet de identidad </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" maxlength="11" value="{{p.ci}}" name="ci" required>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Número Telefónico</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" value="{{p.phonenumber}}" name="phonenumber">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Dirección particular</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" value="{{p.address}}" name="address" required></input>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Grupo sanguíneo</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <select class="form-control" value="{{p.bloodgroup}}" name="bloodgroup">
                                        <optgroup label="Elige el grupo sanguíneo de la embarazada">
                                            <option value="O+" selected="">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row form-group">
                              <div class="col-sm-4 label-column">
                                <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Peso (kg)</label>
                              </div>
                              <div class="col-sm-6 input-column">
                                <input type="number" id="crmPeso" class="form-control" value="{{p.weight}}" name="weight" min="35" max="200">
                              </div>
                            </div>
                            <div class="form-row form-group">
                              <div class="col-sm-4 label-column">
                                <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">Altura (cm)</label>
                              </div>
                              <div class="col-sm-6 input-column">
                                <input type="number" id="crmAltura" class="form-control" value="{{p.height}}" name="height" min="100" max="270">
                              </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-sm-4 input-column" style="position:absolute; right:120px; top:660px;">                                                            
                              <p>
                                <a class="btn btn-primary" id="crmSendButton">Calcular IMC</a>
                              </p>
                            </div>
                            <div class="crmError">
                              <p style="margin-bottom:0px;">Debes introducir un valor correcto</p>
                              <p style="margin-bottom:0px;">Peso:35kg/200kg Altura:100cm/270cm</p>
                            </div>
                            <br>
                            <div class="form-row form-group">
                              <div class="col-sm-4 label-column">
                                <label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">IMC de la embarazada</label>
                              </div>
                              <div class="col-sm-6 input-column">
                                <input id="crmIMC" type="number" readonly="" value="{{p.result_imc}}" class="form-control" name="result_imc">
                              </div>
                            </div>
                            <script src="{% static 'js/calc_imc_copy.js' %}"></script>
                            {% endfor %}
                            <button class="btn btn-primary btn-lg" type="submit">Modificar</button>
                            <a class="btn btn-primary btn-lg" href="{% url 'receptionviewPatients' %}">Atrás</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
{% ifequal error "no" %}
<script type="text/javascript">
    alert('Datos de la embarazada actualizados con éxito..........')
    window.location = ('{% url 'receptionviewPatients' %}')
</script>
{% endifequal%}

{% ifequal error "yes" %}
<script type="text/javascript">
    /*alert('{{e}}')*/
    alert('Existen errores en el formulario, intente otra vez....')
</script>
{% endifequal%}
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>
