<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
  {% include 'usersnav.html' %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                  <a href="{% url 'home' %}" class="d-block">{{ user.first_name }}</a>
                </div>
              </div>
              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link">
                      <i class="nav-icon fas fa-user"></i>
                      <p>
                        Perfil
                      </p>
                    </a>
                  </li>
                  <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-calendar-check-o"></i>
                      <p>
                        Consultas
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'makeappointments' %}" class="nav-link">
                          <i class="fas fa-calendar-plus nav-icon"></i>
                          <p>
                            Agregar consulta
                          </p>
                        </a>                
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'viewappointments' %}" class="nav-link active">
                          <i class="fas fa-calendar-alt nav-icon"></i>
                          <p>
                            Calendario de consultas
                          </p>
                        </a>                
                      {% comment %} </li>
                      <li class="nav-item">
                        <a href="{% url 'receptionapointmentlist' %}" class="nav-link">
                          <i class="fas fa-eye nav-icon"></i>
                          <p>
                            Ver registro de consultas
                          </p>
                        </a>
                      </li> {% endcomment %}
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-user-alt"></i>
                      <p>
                        Pacientes
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'receptionaddpatient' %}" class="nav-link">
                          <i class="fas fa-user-plus nav-icon"></i>
                          <p>
                            Agregar paciente
                          </p>
                        </a>                
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'receptionviewPatients' %}" class="nav-link">
                          <i class="fas fa-eye nav-icon"></i>
                          <p>
                            Ver registro de pacientes
                          </p>
                        </a>                
                      </li>
                    </ul>
                  </li>         
                  <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                      <i class="nav-icon fas fa-sign-out-alt"></i>
                      <p>
                        Cerrar sesión
                      </p>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <h2 class="text-center">PRÓXIMAS CONSULTAS</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in upcomming_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ i.patientname }} tiene consulta con {{ i.doctorname }} el {{i.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Nombre del Doctor:</td>
                                        <td>{{i.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre de la embarazada:</td>
                                        <td>{{i.patientname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de la consulta:</td>
                                        <td>{{i.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Hora de la consulta:</td>
                                        <td>{{i.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Síntomas:</td>
                                        <td>{{i.symptoms}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <h2 class="text-center">CONSULTAS ANTERIORES</h2>
                <div class="text-center" role="tablist" id="accordion-2">
                    {% for j in previous_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ j.patientname }} tuvo consulta con {{ j.doctorname }} el {{j.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Nombre del Doctor:</td>
                                        <td>{{j.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre de la embarazada:</td>
                                        <td>{{j.patientname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de la consulta:</td>
                                        <td>{{j.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Hora de la consulta:</td>
                                        <td>{{j.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Síntomas:</td>
                                        <td>{{j.symptoms}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>
