<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}
</head>
<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    {% include 'admin/adminnav.html' %}
    <div id="wrapper">
        {% include 'admin/admin_include.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: white;"></i></a></div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>
